html,body {
    background-color: #f1f1f1;
    position: relative;
}
/* 1、顶部 */
.top {
    display: flex;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(45rem / 38);
    background-color: #171823;
}

.top-cont {
    float: left;
    width: 100%;
    padding-left: calc(17rem / 38);
    padding-top: calc(8rem / 38);
    box-sizing: border-box;
}

.top-cont-logo {
    position: absolute;
    top: calc(7rem / 38);
    width: calc(30rem / 38);
    height: calc(30rem / 38);
    background-image: url(../img/index.png);
    background-position: 0px 3.9rem;
    background-size: 1260%
}

.top-cont-title {
    padding-left: calc(40rem / 38);
}

.top-cont-title h2 {
    color: #fff;
}

.top-cont-title p {
    color: #666;
    padding-top: calc(5rem / 38);
}

.top-button a{
    position: absolute;
    right: calc(15rem / 38);
    bottom: calc(12rem / 38);
    display: block;
    width: calc(60rem / 38);
    height: calc(25rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(305rem / 38) calc(-755rem / 38);
    background-size: calc(360rem / 38) calc(450rem / 38);
}

/* 2、顶部导航 */
.top-nav {
    width: 100%;
    height: calc(45rem / 38);
    background-color: #db9e3f;
    text-align: center;
    margin-top: calc(45rem / 38);
}

.top-nav a {
    display: block;
    float: left;
    color: #fff;
    width: 33.33333%;
    line-height: calc(45rem / 38);
    font-size: calc(14rem / 38);
    position: relative;
}

.top-nav a:nth-child(3)::before {
    content: " ";
    display: block;
    position: absolute;
    top: calc(35rem / 38);
    left: calc(34rem / 38);
    width: calc(60rem / 38);
    height: calc(3rem / 38);
    background-color: #fff;
}

/* 3、导航 */
nav {
    width: 100%;
    /* width: 150%; */
    overflow: auto;
    height: calc(45rem / 38);
}

.nav li {
    float: left;
    line-height: calc(45rem / 38);
    padding: 0 calc(12rem / 38);
    position: relative;
}

.nav li>a {
    color: #000;
    font-size: calc(13rem / 38);
}

.nav li:nth-child(1)>a {
    color: #d59b40;
}

.nav li:nth-child(1)::before a {
    content: " ";
    display: block;
    position: absolute;
    top: calc(0rem / 38);
    left: calc(0rem / 38);
    width: calc(30rem / 38);
    height: calc(3rem / 38);
    background-color: #d59b40;
}
/* 4、标题 */
.title {
    width: 100%;
    height: calc(26rem / 38);
    margin: calc(15rem / 38) 0;
}
.title h2 {
    float: left;
    font-size: calc(18rem / 38);
    color: #00adff;
}

.title span {
    float: left;
    margin-left: calc(20rem / 38);
    color: #a2a2a2;
    padding: calc(3rem / 38) calc(6rem / 38);
    border: calc(1rem / 38) solid #a2a2a2;
    border-radius: calc(12rem / 38);
}

/* 5、海报 */
.poster {
    width: 100%;
    height: calc(210rem / 38);
    position: relative;
}

.poster img:first-child {
    width: 100%;
    height: 100%;
}

.poster-icon {
    position: absolute;
    top: calc(87rem / 38);
    left: calc(172rem / 38);
    display: block;
    width: calc(35rem / 38);
    height: calc(35rem / 38);
}

/* 6、赛事资讯 */
.inform {
    width: 100%;
    height: calc(30rem / 38);
    text-align: center;
    margin: calc(10rem / 38) 0;
    background-color: #e4e4e4;
}

.inform a {
    line-height: calc(30rem / 38);
}

/* 7、资讯列表 */
.infrom-list {
    width: 100%;
    height: 100%;
}

.infrom-list li {
    width: 100%;
    height: calc(30rem / 38);
    padding-left: calc(8rem / 38);
    box-sizing: border-box;
}

.infrom-list a {
    float: left;
    display: block;
    width: calc(308rem / 38);
    height: calc(30rem / 38);
    line-height: calc(30rem / 38);
    color: #333;
    font-size: calc(14rem / 38);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.infrom-list p {
    float: right;
    font-size: calc(13rem / 38);
    color: #9e9e9e;
    line-height: calc(30rem / 38);
}

/* 8、已显示全部内容 */
.fullcont {
    width: calc(362rem / 38);
    height: calc(35rem / 38);
    margin: 0 calc(10rem / 38);
    background-color: #e6e6e6;
    box-sizing: border-box;
    border-radius: calc(11rem / 38);
    text-align: center;
    margin-bottom: calc(50rem / 38);
}

.fullcont h3 {
    line-height: calc(35rem / 38);
    font-weight: normal;
    color: #858587;
    font-size: calc(13rem / 38);
}