html,body {
    background-color: #ededed;
}
/* 1、顶部 */
.top {
    display: flex;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(45rem / 38);
    background-color: #171823;
}

.top-cont {
    float: left;
    padding-left: calc(17rem / 38);
    padding-top: calc(8rem / 38);
    box-sizing: border-box;
}

.top-cont-logo {
    position: absolute;
    top: calc(7rem / 38);
    width: calc(30rem / 38);
    height: calc(30rem / 38);
    background-image: url(../img/index.png);
    background-position: 0px 3.9rem;
    background-size: 1260%
}

.top-cont-title {
    padding-left: calc(40rem / 38);
}

.top-cont-title h2 {
    color: #fff;
}

.top-cont-title p {
    color: #666;
    padding-top: calc(5rem / 38);
}

.top-button a{
    position: absolute;
    right: calc(15rem / 38);
    bottom: calc(12rem / 38);
    display: block;
    width: calc(60rem / 38);
    height: calc(25rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(305rem / 38) calc(-755rem / 38);
    background-size: calc(360rem / 38) calc(450rem / 38);
}

/* 2、顶部导航 */
.top-nav {
    width: 100%;
    height: calc(45rem / 38);
    background-color: #db9e3f;
    text-align: center;
    margin-top: calc(45rem / 38);
}

.top-nav a {
    display: block;
    float: left;
    color: #fff;
    width: 33.33333%;
    line-height: calc(45rem / 38);
    font-size: calc(14rem / 38);
}

/* 3、轮播图 */
.poster {
    width: 100%;
    /* width: calc(380rem / 38); */
    height: calc(165rem / 38);
}

.poster img {
    width: 100%;
    height: calc(165rem / 38);
}

/* 4、导航 */
nav {
    width: 100%;
    height: calc(100rem / 38);
    background-color: #f9f9f9;
    border-top: calc(1rem / 38) solid #ccc;
    border-bottom: calc(1rem / 38) solid #ccc;
    box-sizing: border-box;
    margin-top: calc(15rem / 38);
}

nav .mainnav {
    width: 100%;
    height: calc(70rem / 38);
    background-color: #fff;
}

.mainnav li{
    float: left;
    width: 25%;
    height: calc(50rem / 38);
    margin-top: calc(10rem / 38);
    border-right: calc(1rem / 38) solid #ccc;
    box-sizing: border-box;
}

.mainnav li a {
    width: 100%;
    display: block;
    position: relative;
}

.mainnav a>i {
    position: absolute;
    top: calc(6rem / 38);
    left: calc(-1rem / 38);
    width: calc(94rem / 38);
    height: calc(50rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(-201rem / 38) calc(-55rem / 38);
    background-size: calc(400rem / 38) calc(400rem / 38);
}

.mainnav li:nth-child(2) a>i {
    top: calc(6rem / 38);
    left: calc(-1rem / 38);
    background-position: calc(96rem / 38) calc(-55rem / 38);
}

.mainnav li:nth-child(3) a>i {
    top: calc(5rem / 38);
    left: calc(-1rem / 38);
    background-position: calc(-102rem / 38) calc(0rem / 38);
}

.mainnav li:nth-child(4) a>i {
    top: calc(4rem / 38);
    left: calc(-1rem / 38);
    background-position: calc(0rem / 38) calc(-53rem / 38);
}

.mainnav li a>span {
    display: block;
    position: absolute;
    left: calc(30rem / 38);
    top: calc(35rem / 38);
    text-align: center;
}

.mainnav li:nth-child(3) a>span {
    left: calc(23rem / 38);
    top: calc(35rem / 38);
}

.mainnav-more span {
    display: block;
    text-align: center;
    height: calc(30rem / 38);
    line-height: calc(30rem / 38);
    padding-left: calc(10rem / 38);
    box-sizing: border-box;
    position: relative;
}

.mainnav-more span::before {
    content: " ";
    display: block;
    position: absolute;
    top: calc(9rem / 38);
    left: calc(164rem / 38);
    width: calc(10rem / 38);
    height: calc(10rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(256rem / 38) calc(202rem / 38);
    background-size: calc(410rem / 38) calc(410rem / 38);
    transform: rotate(180deg);
}
/* 5、新闻资讯 */
.news {
    background-color: #fff;
    margin: calc(15rem / 38) 0;
    box-sizing: border-box;
    padding:0 calc(20rem / 38);
}

.news-title {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
    position: relative; 
}

.news-title i {
    position: absolute;
    top: calc(17rem / 38);
    left: 0;
    width: calc(15rem / 38);
    height: calc(15rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(0rem / 38) calc(248rem / 38);
    background-size: calc(400rem / 38);
}

.news-title h2 {
    color: #212222;
    font-size: 16px;
    font-weight: normal;
    border-bottom: calc(1rem / 38) solid #ccc;
    padding-left: calc(20rem / 38);
}

.news-title a {
    position: absolute;
    top: calc(15rem / 38);
    right: 0;
    width: calc(20rem / 38);
    height: calc(20rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(-181rem / 38) calc(223rem / 38);
    background-size: calc(400rem / 38);
}
/* 5.2 新闻资讯内容 */
.news-cont {
    width: 100%;
    
}

/* 5.2.1 导航 */
.news-count-nav {
    height: calc(45rem / 38);
    line-height: calc(45rem / 38);
}
.news-count-nav a {
    float: left;
    display: block;
    color: #343440;
    font-size: calc(13rem / 38);
    padding-right: calc(50rem / 38);
}

.news-count-nav a:last-child {
    padding-right: 0;
}

/* 5.2.2 列表 */
.news-count-list li {
    width: 100%;
    height: calc(20rem / 38);
    margin-bottom: calc(10rem / 38);
}

.news-count-list .cotegory {
    float: left;
    color: #464f73;
    font-size: calc(14rem / 38);
}

.news-count-list .split {
    float: left;
    margin: 0 calc(3rem / 38);
}

.news-count-list .title {
    float: left;
    width: 6rem;
    font-size: calc(14rem / 38);
    color: #222;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    
}

.news-count-list .time{
    float: right;
    color: #777;
}

/* 6、英雄列表 */
.hero {
    background-color: #fff;
    height: 100%;
    /* margin: calc(15rem / 38) 0; */
    box-sizing: border-box;
    padding:0 calc(20rem / 38);
}

/* 6.1 标题 */
.hero-title {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38); 
    position: relative;
}

.hero-title i {
    position: absolute;
    top: calc(18rem / 38);
    left: 0;
    width: calc(15rem / 38);
    height: calc(15rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(-181rem / 38) calc(200rem / 38);
    background-size: calc(400rem / 38);
}

.hero-title h2 {
    float: left;
    color: #212222;
    font-size: 16px;
    font-weight: normal;
    padding-left: calc(20rem / 38);
}

.hero-title a {
    position: absolute;
    top: calc(15rem / 38);
    right: 0;
    width: calc(20rem / 38);
    height: calc(20rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(-181rem / 38) calc(223rem / 38);
    background-size: calc(400rem / 38);
}

/* 6.2 海报图 */
.hero-poster {
    width: 100%;
    height: calc(118rem / 38);
    padding-bottom: calc(12rem / 38);
    border-bottom: calc(1rem / 38) solid #ccc;
}

.hero-poster img {
    width: 100%;
}

/* 6.3 英雄分类 */
.hero-sort {
    width: 100%;
    height: calc(245rem / 38);
}
.hero-sort-title {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
}

.hero-sort-title a {
    font-size: calc(13rem / 38);
    padding-right: calc(22rem / 38);
}

.hero-sort-title a:last-child {
    padding-right: 0;
}

/* 6.3.2 英雄分类列表 */
.hero-sort-list {
    width: 100%;
    height: 100%;
    
}
.hero-sort-list li {
    float: left;
    width: calc(56rem / 38);
    height: calc(88rem / 38);
    box-sizing: border-box;
    margin-right: calc(15rem / 38);
}
.hero-sort-list li:nth-child(5n) {
    margin-right: 0;
}

.hero-sort-list li>a {
    display: block;
    width: 100%;
    
}

.hero-sort-list img {
    width: calc(56rem / 38);
    height: calc(56rem / 38);
}

.hero-sort-list p {
    height: calc(32rem / 38);
    line-height: calc(32rem / 38);
    text-align: center;
}

/* 7、精彩视频 */
.video {
    background-color: #fff;
    height: 100%;
    margin-top: calc(15rem / 38);
    box-sizing: border-box;
    padding:0 calc(20rem / 38);
}

/* 7.1 标题 */
.video-title {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
    position: relative; 
}

.video-title i {
    position: absolute;
    top: calc(17rem / 38);
    left: 0;
    width: calc(15rem / 38);
    height: calc(15rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(0rem / 38) calc(220rem / 38);
    background-size: calc(400rem / 38);
}

.video-title h2 {
    color: #212222;
    font-size: 16px;
    font-weight: normal;
    border-bottom: calc(1rem / 38) solid #ccc;
    padding-left: calc(20rem / 38);
}

.video-title a {
    position: absolute;
    top: calc(15rem / 38);
    right: 0;
    width: calc(20rem / 38);
    height: calc(20rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(-181rem / 38) calc(223rem / 38);
    background-size: calc(400rem / 38);
}

/* 7.2 内容 */

/* 7.2.1 视频内容导航 */
.video-cont-nav {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
}

.video-cont-nav a {
    float: left;
    display: block;
    padding-right: calc(44rem / 38);
    font-size: calc(13rem / 38);
}

.video-cont-nav a:last-child {
    padding-right: 0;
}

/* 7.2.2 视频内容列表 */
.video-cont-list {
    width: 100%;
    /* height: 100%; */
    height: calc(350rem / 38);
    overflow: hidden;
}

.video-cont-list li {
    float: left;
    width: calc(167rem / 38);
    margin-bottom: calc(15rem / 38);
    margin-right: calc(5rem / 38);
}

.video-cont-list li:nth-child(2n) {
    margin-right: 0;
}

.video-cont-list li img {
    width: calc(167rem / 38);
    height: calc(95rem / 38);
}

.video-cont-list li p {
    font-size: calc(13rem / 38);
    color: #222;
    line-height: 1.5;
    overflow: hidden;
    word-break:break-all;
    text-overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.video-cont-list li i {
    float: left;
    font-size: calc(12rem / 38);
    color: #7a7a80;
    line-height: 2;
    padding-left: calc(20rem / 38);
    
    position: relative;
}

.video-cont-list li i::before {
    content: " ";
    display: block;
    position: absolute;
    top: calc(2rem / 38);
    left: calc(3rem / 38);
    width: calc(14rem / 38);
    height: calc(15rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(-141rem / 38) calc(-227rem / 38);
    background-size: calc(450rem / 38) calc(450rem / 38);
}

.video-cont-list li span {
    float: right;
    font-size: calc(12rem / 38);
    color: #7a7a80;
    line-height: 2;
}

/* 7.3 更多 */
.video-more {
    width: 100%;
    height: calc(35rem / 38);
    line-height: calc(35rem / 38);
    text-align: center;
    background-color: #fff;
    border-top: calc(1rem / 38) solid #ccc;
    border-bottom: calc(1rem / 38) solid #ccc;
    box-sizing: border-box;
    
}

.video-more a {
    display: block;
    color: #7a7a80;
}

/* 8.图文攻略 */
.imgtext {
    background-color: #fff;
    height: 100%;
    margin-top: calc(15rem / 38);
    box-sizing: border-box;
    padding:0 calc(20rem / 38);
}
/* 8.1 图文攻略标题 */
.imgtext-title {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
    position: relative; 
}

.imgtext-title i {
    position: absolute;
    top: calc(19rem / 38);
    left: 0;
    width: calc(15rem / 38);
    height: calc(15rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(0rem / 38) calc(190rem / 38);
    background-size: calc(400rem / 38);
}

.imgtext-title h2 {
    color: #212222;
    font-size: 16px;
    font-weight: normal;
    border-bottom: calc(1rem / 38) solid #ccc;
    padding-left: calc(20rem / 38);
}

.imgtext-title a {
    position: absolute;
    top: calc(15rem / 38);
    right: 0;
    width: calc(20rem / 38);
    height: calc(20rem / 38);
    background-image: url(../img/index.png);
    background-position: calc(-181rem / 38) calc(223rem / 38);
    background-size: calc(400rem / 38);
}

/* 8.2 图文攻略内容 */
.imgtext-cont {
    width: 100%;
    height: 100%;
}

/* 8.1.1 内容导航 */
.imgtext-cont-nav {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
}

.imgtext-cont-nav a {
    color: #343440;
    font-size: calc(13rem / 38);
    padding-right: calc(49rem / 38);
}

.imgtext-cont-nav a:last-child {
    padding-right: 0;
}

/* 8.1.2 内容列表 */
.imgtext-cont-list {
    width: 100%;
    padding-bottom: calc(20rem / 38);
}

.imgtext-cont-list li {
    width: 100%;
    height: calc(80rem / 38);
    border-bottom: calc(1rem / 38) solid #ccc;
    box-sizing: border-box;
    margin-bottom: calc(10rem / 38);
}
.imgtext-cont-list li:last-child {
    border-bottom: none;
}

.imgtext-cont-list img {
    float: left;
    width: calc(116rem / 38);
    height: calc(70rem / 38);
}

.imgtext-cont-list-text {
    float: left;
    width: calc(190rem / 38);
    padding-left: calc(10rem / 38);
}


.imgtext-cont-list-text h2 {
    color: #222;
    font-size: calc(15rem / 38);
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: calc(2rem / 38) 0;
}

.imgtext-cont-list-text span {
    width: 100%; 
    height: calc(38rem / 38);
    line-height: calc(19rem / 38);
    color: #7a7a80;  
}

.imgtext-cont-list-text p {
    color: #bdc2c5;
    padding-top: calc(2rem / 38);
}