html,body {
    width: 100%;
    height: 100%;
    position: relative;    
    background-image: url(../image/bg_p.jpg);
    background-size: cover;
}

/* 1、顶部导航 */
.topnav {
    width: 100%;
    height: calc(40rem / 38);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../image/bg_p.jpg);
    background-size: 100% 100%;
    background-color: aquamarine;
    padding-left: calc(15rem / 38);
    box-sizing: border-box;
}

.topnav-ul {
    width: 100%;
    height: 100%;
    text-align: center;
}

.topnav-list {
    float: left;
    width: 20%;
    height: 100%;
}

.topnav-list:first-child {
    background-image: url(../image/top-1.png);
    background-size: 100% 100%;
}

.topnav-list a {
    display: block;
    height: calc(15rem / 38);
    color: #a0c5f6;
    margin-top: calc(15rem / 38);
    box-sizing: border-box;
    border-right: calc(1rem / 38) solid rgba(158, 194, 243,0.1);
}

.topnav-list:first-child a {
    color: #fff;
}
/* 2、主体 */
main {
    width: 100%;
    /* height:100%; */
    margin-top: calc(40rem / 38);
    margin-bottom: calc(60rem / 38); 
    padding-bottom: calc(60rem / 38);
    overflow: hidden;
}

.main-ul {
    width: 100%;
    height: 100%;
    height: calc(1680rem / 38);
    padding: 0 calc(10rem / 38);
    margin-bottom: calc(55rem / 38);
    box-sizing: border-box;
}

.main-ul .main-list {
    float: left;
    width: calc(175rem / 38);
    height: calc(240rem / 38);
    margin-top: calc(10rem / 38);
}

.main-ul .main-list:nth-child(2n) {
    margin-left: calc(10rem / 38);
}

.main-ul img {
    width: calc(175rem / 38);
    height: calc(240rem / 38);
}

/* 3、底部 */

.button {
    width: 100%;
    height: calc(44rem / 38);
    display: flex;
    position: fixed;
    /* bottom: calc(128rem / 50);
    left:0; */


    bottom: calc(72rem / 50);
    left: 0;
    background-image: url(../image/bottom-3.png) ;
    background-position: calc(-4rem / 38) calc(45rem / 38);
    background-size: 100% auto;
}


.botton-list {
    float: left;
    width: 50%;
    height: calc(44rem / 38);  
}

.botton-list a {
    display: block;
    float: left;
    width: 50%;
    height: calc(44rem / 38);
    background-color: aquamarine;
     /* background-position: calc(50rem / 38) calc(50rem / 38); 
     background-size: 100% auto;  */
 } 

.botton-list img {
    width: 100%;
    height: 100%;
}
.bottom {
    width: 100%;
    height: calc(55rem / 38);
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: cadetblue;
    background-image: url(../image/bottom-1.jpg);
}
.bottom-ul {
    width: 100%;
    height: calc(55rem / 38);
}
.bottom-list {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    border-right: calc(1rem / 38) solid rgba(158, 194, 243,0.1);
    box-sizing: border-box;
}

.bottom-list:nth-child(3) {
    background-image: url(../image/buttom-2.jpg);
    background-size: 100% 100%;
}

.bottom-list:nth-child(3) a {
    color: #fff;
}

.bottom-list a {
    color: #a0c5f6;
    line-height: calc(55rem / 38);
}
