html,body {
    background-color: #ededed;
    position: relative;
}
/* 1、顶部 */
.top {
    display: flex;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(45rem / 38);
    background-color: #171823;
}

.top-cont {
    float: left;
    padding-left: calc(17rem / 38);
    padding-top: calc(8rem / 38);
    box-sizing: border-box;
}

.top-cont-logo {
    position: absolute;
    top: calc(7rem / 38);
    width: calc(30rem / 38);
    height: calc(30rem / 38);
    background-image: url(../image/index.png);
    background-position: 0px 3.9rem;
    background-size: 1260%
}

.top-cont-title {
    padding-left: calc(40rem / 38);
}

.top-cont-title h2 {
    color: #fff;
}

.top-cont-title p {
    color: #666;
    padding-top: calc(5rem / 38);
}

.top-button a{
    position: absolute;
    right: calc(15rem / 38);
    bottom: calc(12rem / 38);
    display: block;
    width: calc(60rem / 38);
    height: calc(25rem / 38);
    background-image: url(../image/index.png);
    background-position: calc(305rem / 38) calc(-755rem / 38);
    background-size: calc(360rem / 38) calc(450rem / 38);
}

/* 2、顶部导航 */
.top-nav {
    width: 100%;
    height: calc(45rem / 38);
    background-color: #db9e3f;
    text-align: center;
    margin-top: calc(45rem / 38);
}

.top-nav a {
    display: block;
    float: left;
    color: #fff;
    width: 33.33333%;
    line-height: calc(45rem / 38);
    font-size: calc(14rem / 38);
    position: relative;
}

.top-nav a:nth-child(2)::before {
    content: " ";
    display: block;
    position: absolute;
    top: calc(35rem / 38);
    left: calc(33rem / 38);
    width: calc(60rem / 38);
    height: calc(3rem / 38);
    background-color: #fff;
}

/* 3、轮播图 */
.poster {
    width: 100%;
    height: calc(165rem / 38);
}

.poster img {
    width: 100%;
    height: calc(165rem / 38);
}

/* 4、热门视频 */
.hotvideo {
    width: 100%;
    padding: 0 calc(10rem / 38);
    box-sizing: border-box;
    background-color: #fff;
    margin-top: calc(10rem / 38);
 } 

.hotvideo-title {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
    overflow: hidden;
    position: relative;
    border-bottom: calc(1rem / 38) solid #ccc; 
}

 .hotvideo-title i {
    position: absolute;
    top: calc(17rem / 38);
    left: 0;
    width: calc(15rem / 38);
    height: calc(15rem / 38);
    background-image: url(../image/index.png);
    background-position: calc(0rem / 38) calc(220rem / 38);
    background-size: calc(400rem / 38);
}

.hotvideo-title h2 {
    float: left;
    color: #212222;
    font-size: 16px;
    padding-left: calc(20rem / 38);
}

.hotvideo-title ul {
    float: right;
}

.hotvideo-title ul a {
    font-size: calc(13rem / 38);
    padding-left: calc(12rem / 38);
}

.hotvideo-title ul a:first-child {
    color: #d59b40;
}
/* 4.2 热门视频内容 */
.hotvideo-cont {
    width: 100%;
}

.hotvideo-cont-list2 {
    width: 100%;
    height: calc(36rem / 38);
    border-bottom: calc(1rem / 38) solid #ccc;
}

.hotvideo-cont-list2:last-child {
    border-bottom: none;
}

.hotvideo-cont-list1 {
    width: 100%;
    height: calc(83rem / 38);
    box-sizing: border-box;
    border-bottom: calc(1rem / 38) solid #ccc;
}

.hotvideo-cont-list1 a {
    display: block;
    padding-top: calc(10rem / 38);
    box-sizing: border-box;
    
}
.hotvideo-cont-list1 img {
    float: left;
    width: calc(120rem / 38);
    height: calc(65rem / 38);
}

.hotvideo-cont-list1-text {
    float: left;
    width: calc(220rem / 38);
    padding-left: calc(15rem / 38);
    box-sizing: border-box;
}

.hotvideo-cont-list1-text span {
    float: left;
    width: 100%;
    height: calc(40rem / 38);
    line-height: 1.8;
    font-size: calc(13rem / 38);
}

.hotvideo-cont-list1-text i {
    float: left;
    font-size: calc(12rem / 38);
    color: #7a7a80;
    padding-top: calc(14rem / 38);
    padding-left: calc(22rem / 38);
    position: relative;
}

.hotvideo-cont-list1-text i::before {
    content: " ";
    display: block;
    position: absolute;
    top: calc(10rem / 38);
    left: calc(3rem / 38);
    width: calc(14rem / 38);
    height: calc(15rem / 38);
    background-image: url(../image/index.png);
    background-position: calc(-141rem / 38) calc(-227rem / 38);
    background-size: calc(450rem / 38) calc(450rem / 38);
}


.hotvideo-cont-list1-text em {
    float: left;
    font-size: calc(12rem / 38);
    color: #7a7a80;
    padding-top: calc(14rem / 38);
    padding-left: calc(22rem / 38);
    position: relative;
}

.hotvideo-cont-list1-text em::before {
    content: " ";
    display: block;
    position: absolute;
    top: calc(10rem / 38);
    left: calc(6rem / 38);
    width: calc(14rem / 38);
    height: calc(15rem / 38);
    background-image: url(../image/spr.png);
    background-position: calc(15rem / 38) calc(-227rem / 38);
    background-size: calc(90rem / 38) calc(90rem / 38);
}
.hotvideo-cont-list2 p {
    float: left;
    width: calc(295rem / 38);
    line-height: calc(36rem / 38);
    color: #343440;
    font-size: calc(13rem / 38);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hotvideo-cont-list2 i {
    float: right;
    font-size: calc(12rem / 38);
    color: #7a7a80;
    line-height: calc(36rem / 38);
    padding-left: calc(20rem / 38);
    position: relative;
}

.hotvideo-cont-list2 i::before {
    content: " ";
    display: block;
    position: absolute;
    top: calc(7rem / 38);
    left: calc(3rem / 38);
    width: calc(14rem / 38);
    height: calc(15rem / 38);
    background-image: url(../image/index.png);
    background-position: calc(-141rem / 38) calc(-227rem / 38);
    background-size: calc(450rem / 38) calc(450rem / 38);
}

/* 4.3 热门视频收起 */
.hotvideo-up {
    width: 100%;
    height:calc(35rem / 38);
    text-align: center;
    background-color: #fff;
    border-top: calc(1rem / 38) solid #ccc;
}

.hotvideo-up a {
    color: #7a7a80;
    line-height: calc(35rem / 38);
    
}

/* 7、精彩视频 */
.column,.compete,.video {
    background-color: #fff;
    height: 100%;
    margin-top: calc(15rem / 38);
    box-sizing: border-box;
    padding:0 calc(10rem / 38);
}

/* 7.1 标题 */

.column-title,.compete-title,.video-title {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
    position: relative; 
}


.column-title i,.compete-title i,.video-title i {
    position: absolute;
    top: calc(18rem / 38);
    left: 0;
    width: calc(15rem / 38);
    height: calc(15rem / 38);
    background-image: url(../image/spr.png);
    background-position: calc(144rem / 38) calc(267rem / 38);
    background-size: calc(100rem / 38);
}


.column-title h2,.compete-title h2,.video-title h2{
    color: #212222;
    font-size: 16px;
    border-bottom: calc(1rem / 38) solid #ccc;
    padding-left: calc(20rem / 38);
}


.column-title a,.compete-title a,.video-title a{
    position: absolute;
    top: calc(15rem / 38);
    right: 0;
    width: calc(20rem / 38);
    height: calc(20rem / 38);
    background-image: url(../image/index.png);
    background-position: calc(-181rem / 38) calc(223rem / 38);
    background-size: calc(400rem / 38);
}

/* 7.2 内容 */

/* 7.2.1 视频内容导航 */
.column-cont-nav,
.compete-cont-nav,
.video-cont-nav {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
}

.column-cont-nav a,
.compete-cont-nav a,
.video-cont-nav a {
    float: left;
    display: block;
    padding-right: calc(20rem / 38);
    font-size: calc(13rem / 38);
}


.column-cont-nav a:first-child,
.compete-cont-nav a:first-child,
.video-cont-nav a:first-child {
    color: #d59b40;
}
.column-cont-nav a:last-child,
.compete-cont-nav a:last-child,
.video-cont-nav a:last-child {
    padding-right: 0;
}

/* 7.2.2 视频内容列表 */
.column-cont-list,
.compete-cont-list,
.video-cont-list {
    width: 100%;
    /* height: 100%; */
    height: calc(350rem / 38);
    overflow: hidden;
}

.column-cont-list li,
.compete-cont-list li,
.video-cont-list li {
    float: left;
    width: calc(175rem / 38);
    margin-bottom: calc(15rem / 38);
    margin-right: calc(10rem / 38);
    position: relative;
}

.column-cont-list li:nth-child(2n),
.compete-cont-list li:nth-child(2n),
.video-cont-list li:nth-child(2n) {
    margin-right: 0;
}

.column-cont-list li img,
.compete-cont-list li img,
.video-cont-list li img {
    width: calc(175rem / 38);
    height: calc(102rem / 38);
    
}

.column-cont-list li::before,
.compete-cont-list li::before,
.video-cont-list li::before {
    content: " ";
    display: block;
    position: absolute;
    top: calc(30rem / 38);
    left: calc(61rem / 38);
    width: calc(45rem / 38);
    height: calc(45rem / 38);
    background-image: url(../image/index.png);
    background-position: calc(-75rem / 38) calc(-208rem / 38);
    background-size: calc(420rem / 38) calc(440rem / 38);
}

.column-cont-list span,
.compete-cont-list span,
.video-cont-list span {
    content: " ";
    display: block;
    position: absolute;
    bottom: calc(66rem / 38);
    right: calc(0rem / 38);
    width: calc(40rem / 38);
    height: calc(20rem / 38);
    line-height: calc(20rem / 38);
    background-color: #000;
    color: #fff;
    padding: 0 calc(4rem / 38);
}

.column-cont-list li p,
.compete-cont-list li p,
.video-cont-list li p {
    font-size: calc(13rem / 38);
    color: #222;
    line-height: 1.5;
    overflow: hidden;
    word-break:break-all;
    text-overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.column-cont-list li i,
.compete-cont-list li i,
.video-cont-list li i {
    float: left;
    font-size: calc(12rem / 38);
    color: #7a7a80;
    line-height: 2;
    padding-left: calc(20rem / 38);
    position: relative;
}

.column-cont-list li i::before,
.compete-cont-list li i::before,
.video-cont-list li i::before {
    content: " ";
    display: block;
    position: absolute;
    top: calc(2rem / 38);
    left: calc(3rem / 38);
    width: calc(14rem / 38);
    height: calc(15rem / 38);
    background-image: url(../image/index.png);
    background-position: calc(-141rem / 38) calc(-227rem / 38);
    background-size: calc(450rem / 38) calc(450rem / 38);
}

/* 7.3 更多 */
.column-more,.compete-more,.video-more {
    width: 100%;
    height: calc(35rem / 38);
    line-height: calc(35rem / 38);
    text-align: center;
    background-color: #fff;
    border-top: calc(1rem / 38) solid #ccc;
    border-bottom: calc(1rem / 38) solid #ccc;
    box-sizing: border-box;
    
}

.column-more a,
.compete-more a,
.video-more a {
    display: block;
    color: #7a7a80;
}

.column-more a>em,
.compete-more a>em,
.video-more a>em{
    color: #d59b40;
    font-weight: normal;
}

.video-cont-nav a {
    padding-right: calc(50rem / 38);
}

/* 8.图文攻略 */
.imgtext {
    background-color: #fff;
    height: 100%;
    margin-top: calc(15rem / 38);
    box-sizing: border-box;
    padding:0 calc(20rem / 38);
}
/* 8.1 图文攻略标题 */
.imgtext-title {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
    position: relative; 
}

.imgtext-title i {
    position: absolute;
    top: calc(19rem / 38);
    left: 0;
    width: calc(15rem / 38);
    height: calc(15rem / 38);
    background-image: url(../image/index.png);
    background-position: calc(0rem / 38) calc(190rem / 38);
    background-size: calc(400rem / 38);
}

.imgtext-title h2 {
    color: #212222;
    font-size: 16px;
    font-weight: normal;
    border-bottom: calc(1rem / 38) solid #ccc;
    padding-left: calc(20rem / 38);
}

.imgtext-title a {
    position: absolute;
    top: calc(15rem / 38);
    right: 0;
    width: calc(20rem / 38);
    height: calc(20rem / 38);
    background-image: url(../image/index.png);
    background-position: calc(-181rem / 38) calc(223rem / 38);
    background-size: calc(400rem / 38);
}

/* 8.2 图文攻略内容 */
.imgtext-cont {
    width: 100%;
    height: 100%;
}

/* 8.1.1 内容导航 */
.imgtext-cont-nav {
    width: 100%;
    height: calc(50rem / 38);
    line-height: calc(50rem / 38);
}

.imgtext-cont-nav a {
    color: #343440;
    font-size: calc(13rem / 38);
    padding-right: calc(49rem / 38);
}

.imgtext-cont-nav a:last-child {
    padding-right: 0;
}

/* 8.1.2 内容列表 */
.imgtext-cont-list {
    width: 100%;
    padding-bottom: calc(20rem / 38);
}

.imgtext-cont-list li {
    width: 100%;
    height: calc(80rem / 38);
    border-bottom: calc(1rem / 38) solid #ccc;
    box-sizing: border-box;
    margin-bottom: calc(10rem / 38);
}
.imgtext-cont-list li:last-child {
    border-bottom: none;
}

.imgtext-cont-list img {
    float: left;
    width: calc(116rem / 38);
    height: calc(70rem / 38);
}

.imgtext-cont-list-text {
    float: left;
    width: calc(190rem / 38);
    padding-left: calc(10rem / 38);
}


.imgtext-cont-list-text h2 {
    color: #222;
    font-size: calc(15rem / 38);
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    word-break:break-all;
    text-overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    padding: calc(1rem / 38) 0;
}

.imgtext-cont-list-text p {
    color: #bdc2c5;
    padding-top: calc(10rem / 38);
}